

.small{
    font-size: 1rem;
    }
    .medium{
    font-size: 1.4rem;
    }
    .large{
        font-size: 1.8rem;
    }

    .firstcolor{
        color: #565656;
    }
    .secondcolor{
        color: crimson;
    }

    .span{
        text-align: center;
    }
    .Left{
        text-align: left;
        margin-left: 0.5rem;
    }
    .Center{
        text-align: center;
        // cursor: pointer;
    }