@media only screen and (min-width: 200px) and (max-width: 480px) {
    .div-13{
        display: block;
    }
    .vendor-profile{
     margin-top: 0;
    width: 65%;
    margin: -100px auto ;
    padding: 2rem 0 0 0;
    border-radius: 25px;
}
.tabu_style .css-1wpgpe0{
    width: 100vw;
}
.divided_style_pur{
    display: block;
}
.style_restitem{
    margin-left: 0;
}
.about_style_div{
    width: 100%;
}
.changefr1{
    grid-template-columns: 1fr;
}
.change_style .css-19kzrtu{
    width: 100%;
}
.divided_style_pur1{
    // display: flex;
    margin: 20px;
}
.pur_style1 {
    height: 200px;
    width: 300px;
}
.view_style{
    display: none;
}
.about_data {
    margin-top: 8rem;
    text-align: center;
}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .div-13{
        display: block;
    }
    .vendor-profile{
     margin-top: 0;
    width: 65%;
    margin: -100px auto ;
    padding: 2rem 0 0 0;
    border-radius: 25px;
}
.tabu_style .css-1wpgpe0{
    width: 100vw;
}
.divided_style_pur{
    display: block;
}
.style_restitem{
    margin-left: 0;
}
.about_style_div{
    width: 100%;
}
.changefr1{
    grid-template-columns: 1fr;
}
.change_style .css-19kzrtu{
    width: 100%;
}
.divided_style_pur1{
    // display: flex;
    margin: 20px;
}
.pur_style1 {
    height: 200px;
    width: 300px;
}
.view_style{
    display: none;
}
.about_data {
    margin-top: 8rem;
    text-align: center;
}
}



@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .changefr1{
        grid-template-columns: repeat(2,1fr);
    }
}

