@media only screen and (min-width: 200px) and (max-width: 1024px) {
    .offer_section {
        padding: 25px;
        & .inneroffer {
            flex-wrap: wrap;

            & .discounts_div{
                width: 100%;
                & .discount_inner{
                    border-width: 0px;
                }
            }
        }
    }

    .offer_right{
        width: 100%;
        & .offer_inner_right{
            padding: 0;

            & .offer_title_conatiner{

                & .offer_title_inner{

                    & .offer_title_para{

                        & .black_span{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}


