@media only screen and (min-width: 320px) and (max-width: 480px) {
    .dividedive2 {
        display: block;
    }
    .firstdiv{
        width: 100%;
    }

    .submitbutton{
        width: 60%;
    }
    .submit{
        width: 100%;
    }
    .amountdesign{
        margin-left: 0;
        text-align: center;
    }
    .boxdesigen{
        justify-content: center;
    }
    .boxdesigen1{
        width: 25%;
    }
    .select{
        background-color: #0e0d0b;
    }
    .walletss{
        display: block;
    }
    .width{
        width: 100%;
        margin-top: 1rem;
    }
    .rightpannel_wrapper {
        padding: 0;
    }
    .spacedesigen{
        width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .divdesign{
        padding: 10px 12px;
        height: auto;
        width: 100%;
    }
    .spacedesigen{
        margin-right: 1rem;
    }
    .dividedive2 {
        display: block;
    }
    .firstdiv{
        width: 100%;
    }
    .seconddiv{
        width: 100%;
        margin-top: 2rem;
    }
    .submitbutton{
        width: 60%;
        height: 6vh;
    }
    .submit{
        width: 100%;
    }
    .amountdesign{

        margin-left: 0;
        text-align: center;
    }
    .boxdesigen{
        justify-content: center;
    }
    .boxdesigen1{
        width: 25%;
        // height: 13vh;
    }
    .select{
        background-color: #0e0d0b;
    }


}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .dividedive2 {
        display: block;
    }
    .firstdiv{
        width: 100%;
    }
    .seconddiv{
        width: 100%;
        margin-top: 2rem;
    }
    .submitbutton{
        width: 49%;
        height: 7vh;
    }
    .submit{
        width: 100%;
    }
    .amountdesign{

        margin-left: 0;
        text-align: center;
    }
    .boxdesigen{
        justify-content: center;
    }

    .select{
        background-color: #0e0d0b;
    }
    .fontsize_style{
        font-size: 16px;
    }
    .divdesign{
        width: 60%;
    }

}


// @media only screen and (min-width: 1024px) and (max-width: 1200px) {
//     .dividedive2 {
//         display: block;
//     }
//     .firstdiv{
//         width: 100%;
//     }
//     .seconddiv{
//         width: 100%;
//         margin-top: 2rem;
//     }
//     .submitbutton{
//         width: 60%;
//     }
//     .submit{
//         width: 100%;
//     }
//     .amountdesign{

//         margin-left: 0;
//         text-align: center;
//     }
//     .boxdesigen{
//         justify-content: center;
//     }
//     .boxdesigen1{
//         width: 25%;
//     }
//     .select{
//         background-color: #0e0d0b;
//     }

// }


// @media only screen and (min-width: 1200px) {
//     .dividedive2 {
//         display: block;
//     }
//     .firstdiv{
//         width: 100%;
//     }
//     .seconddiv{
//         width: 100%;
//         margin-top: 2rem;
//     }
//     .submitbutton{
//         width: 60%;
//     }
//     .submit{
//         width: 100%;
//     }
//     .amountdesign{

//         margin-left: 0;
//         text-align: center;
//     }
//     .boxdesigen{
//         justify-content: center;
//     }
//     .boxdesigen1{
//         width: 25%;
//     }
//     .select{
//         background-color: #0e0d0b;
//     }

// }