.Head-small {
    font-size: 1.3rem;
  }
  .Head-medium {
    font-size: 2.1rem;
  }
  .Head-large {
    font-size: 2.8rem;
  }
  .White {
    color: #fff !important;
  }
  .Black {
    color: #000;
  }
  .Center {
    text-align: center;
  }
  .Left {
    text-align: left;
  }
  .Right {
    text-align: right;
  }
  .head{
    margin: 0.2rem 0;
  }
