
.main_about_us_style{
  margin: 20px;
}
.menuopen {
  visibility: hidden;
  width: 200px;
  max-height: 200px;
  padding: 0.8rem;
  text-align: center;
  background: aquamarine;
  margin-left: 0.5rem;
  flex: 0.2;

  &.active {
    visibility: visible;
  }

  & .onetag {
    cursor: pointer;
    background: aqua;
    margin: 0.3rem 0;
    padding: 0.6rem;
    font-weight: 600;
  }
}

.outeraddicon_aboutus {


  & .addicons_aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3498db;
    border-radius: 50%;
    width: 35px;
    margin: 1rem;
    height: 35px;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
    & svg {
      font-size: 2.2rem;
      color: #fff;
    }
    &:hover {
      background: #2980b9;
    }
    &.active {
      background: #2980b9;
      transform: rotate(230deg);
    }
  }
}

.showtextarea_aboutus {
  margin: 3rem 2rem;
  flex: 1;

  & .aboutus_single_textarea {
    display: flex;
    align-items: center;
    & .textarea_aboutus {
      margin: 0 0.5rem;
      flex: 0.5;
    }

    & .save_aboutus_button {
      margin-left: 2rem;
      & .saveaboutus_btn {
        padding: 0.3rem 0.8rem;
        border: none;
        outline: none;
        cursor: pointer;
        background: aqua;
        border-radius: 8px;
      }
    }
    & .tags_aboutus {
      flex: 0.2;
      text-align: center;
    }
  }
}

.outer_aboutus {
  padding: 1.5rem;
}
.about_us_tophedding_btn{
  margin: 10px;
}
.topimage{
  margin: 10px;
}
.middleicon{
  margin: 10px 0;
}
.bottom_img_style{
  display: flex;
  flex-direction: column;
}
.innertitlebottom_input{
  width: 20%;
  margin-bottom: 10px;
}
.img_preview_style{
  padding: 10px;
}
.img_bottom_file{
  width: 25%;
}
.number_section{
  padding: 20px;
}
.single_aboutus_numbersection{
  padding: 10px;
}
.aboutus_single_textarea2{
  padding-left: 5rem;
}
.abouts_titlebottom{
  padding: 20px;
}