.loginwrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2E3543;
}
.emailsss{
  width: 100%;
  padding: 0.3rem 1rem;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 15px;
  color: white;
}
.loginboxes{
  width: 350px;
  background: #424242;
  padding: 3rem 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px;
  & h1{
    text-align: center;
    color: #fff;
  }
}
.innerpart {
  color: #fff;
  min-width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  & label {
    padding: 1rem 0;
  }
  & .submitlogin {
    outline: none;
    background:#34495e;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.3rem 1rem;
    margin-top: 2rem;

  }
}

.submitlogin:hover{
  background:#7f8c8d;

}
.outerform {
  width: 90%;
  margin: auto;
}
